<!doctype html>
<html>
    <head>
        <title>{{ blog.id}}</title>
    </head>
    <body>
        <h1>{{ blog.id }}</h1>
        <ul>
            {% for post in blog.posts %}
            <li><a href="./posts/{{ post.id }}">{{ post.id }}</a></li>
            {% endfor %}
        </ul>


        <form method="post" action="./posts/">
            <label>Post title:</label>
            <input name="id" type="text">
            <label>Post body:</label>
            <textarea name="body" rows="10" cols="80">
            </textarea>
            <button type="submit">Submit</button>
        </form>

    </body>
</html>
